<section class="department">
    <div class="heading clearfix">
        <h2>Отдел реализации инструмента и металлообрабатывающего оборудования</h2>
    </div>
    <!-- end of heading -->

    <div class="row row_department">
        <div class="col-md-3 department_leader">
            <img src="imgs/department-image_1.png" alt="department-image" class="photo">
            <div class="department_heading">
                <div class="text_wrap">
                    <img src="imgs/folder_icon.png" alt="">
                    <div class="text">
                        <h4>Дмитрий Панов</h4>
                        <p>Руководитель группы продаж</p>
                    </div>
                    <ul class="contacts">
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/phone-icon.png" alt="phone-icon">
                            </div>
                            <a href="tel:+38 (057) 719 62 09">+38 (057) 719 62 09</a>
                        </li>
                        <li>
                            <a href="tel:+38 (067) 319 70 43">+38 (067) 319 70 43</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/mail-icon.png" alt="mail-icon">
                            </div>
                            <a href="mailto:panov@imperija.com">panov@imperija.com</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/skype-icon.png" alt="mail-icon">
                            </div>
                            <a href="skype:panovdima">panovdima</a>
                        </li>
                    </ul>
                </div>
                <!-- end of text_wrap -->
            </div>
            <!-- end of department_heading -->
        </div>
        <!-- end of department_leader -->
        <div class="col-md-3 department_leader">
            <img src="imgs/department-image_1.png" alt="department-image" class="photo">
            <div class="department_heading">
                <div class="text_wrap">
                    <img src="imgs/folder_icon.png" alt="">
                    <div class="text">
                        <h4>Дмитрий Панов</h4>
                        <p>Руководитель группы продаж</p>
                    </div>
                    <ul class="contacts">
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/phone-icon.png" alt="phone-icon">
                            </div>
                            <a href="tel:+38 (057) 719 62 09">+38 (057) 719 62 09</a>
                        </li>
                        <li>
                            <a href="tel:+38 (067) 319 70 43">+38 (067) 319 70 43</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/mail-icon.png" alt="mail-icon">
                            </div>
                            <a href="mailto:panov@imperija.com">panov@imperija.com</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/skype-icon.png" alt="mail-icon">
                            </div>
                            <a href="skype:panovdima">panovdima</a>
                        </li>
                    </ul>
                </div>
                <!-- end of text_wrap -->
            </div>
            <!-- end of department_heading -->
        </div>
        <div class="col-md-3 department_leader">
            <img src="imgs/department-image_1.png" alt="department-image" class="photo">
            <div class="department_heading">
                <div class="text_wrap">
                    <img src="imgs/folder_icon.png" alt="">
                    <div class="text">
                        <h4>Дмитрий Панов</h4>
                        <p>Руководитель группы продаж</p>
                    </div>
                    <ul class="contacts">
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/phone-icon.png" alt="phone-icon">
                            </div>
                            <a href="tel:+38 (057) 719 62 09">+38 (057) 719 62 09</a>
                        </li>
                        <li>
                            <a href="tel:+38 (067) 319 70 43">+38 (067) 319 70 43</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/mail-icon.png" alt="mail-icon">
                            </div>
                            <a href="mailto:panov@imperija.com">panov@imperija.com</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/skype-icon.png" alt="mail-icon">
                            </div>
                            <a href="skype:panovdima">panovdima</a>
                        </li>
                    </ul>
                </div>
                <!-- end of text_wrap -->
            </div>
            <!-- end of department_heading -->
        </div>
        <!-- end of department_leader -->
        <div class="col-md-3 department_leader">
            <img src="imgs/department-image_1.png" alt="department-image" class="photo">
            <div class="department_heading">
                <div class="text_wrap">
                    <img src="imgs/folder_icon.png" alt="">
                    <div class="text">
                        <h4>Дмитрий Панов</h4>
                        <p>Руководитель группы продаж</p>
                    </div>
                    <ul class="contacts">
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/phone-icon.png" alt="phone-icon">
                            </div>
                            <a href="tel:+38 (057) 719 62 09">+38 (057) 719 62 09</a>
                        </li>
                        <li>
                            <a href="tel:+38 (067) 319 70 43">+38 (067) 319 70 43</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/mail-icon.png" alt="mail-icon">
                            </div>
                            <a href="mailto:panov@imperija.com">panov@imperija.com</a>
                        </li>
                        <li>
                            <div class="img_wrap">
                                <img src="imgs/skype-icon.png" alt="mail-icon">
                            </div>
                            <a href="skype:panovdima">panovdima</a>
                        </li>
                    </ul>
                </div>
                <!-- end of text_wrap -->
            </div>
            <!-- end of department_heading -->
        </div>
        <!-- end of department_leader -->
    </div>
    <!-- end of row_department -->
</section>

<section class="subscribe col-md-7 col-md-offset-2">
    <div class="contacts_part">
        <h3>Контактная информация</h3>
        <ul>
            <li>
                <div class="img_wrap">
                    <img src="imgs/pin-icon.png" alt="pin-icon">
                </div>
                <span>НПО «Империя металлов»Григоровское шоссе, дом 88г. Харьков, 61039, Украина</span>
            </li>
            <li>
                <div class="img_wrap">
                    <img src="imgs/phone-icon.png" alt="phone-icon">
                </div>
                <a href="tel:+38 (057) 719 62 09">+38 (057) 719 62 09</a>
            </li>
            <li>
                <div class="img_wrap">
                    <img src="imgs/mail-icon.png" alt="mail-icon">
                </div>
                <a href="mailto:admin@imperija.com">admin@imperija.com</a>
            </li>
        </ul>
    </div>
    <!-- end of contacts_part -->
    <div class="dispatch">
        <h3>Новостная рассылка</h3>
        <form action="/">
            <input type="text" placeholder="Ваше имя *">
            <input type="text" placeholder="Электронная почта *">
            <input type="submit" class="btn btn-blue" value="Подписаться">
        </form>
    </div>
    <!-- end of dispatch -->
</section>