<nav class="slide mobile_panel">
    <ul class="nav">
        <li class="active"><a href="javascript:void(0);">Главная</a></li>
        <li><a href="javascript:void(0);">Окомпании</a></li>
        <li><a href="javascript:void(0);">Оснастка</a></li>
        <li><a href="javascript:void(0);">Инструмент</a></li>
        <li><a href="javascript:void(0);">Новости</a></li>
        <li><a href="javascript:void(0);">Статьи</a></li>
        <li><a href="javascript:void(0);">Полезное</a></li>
        <li><a href="javascript:void(0);">Контакты</a></li>
    </ul>
</nav>