@import "vars";

.description {
  padding: 125px 0 0;
	min-height: 100vh;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center!important;
	.text {
		position: absolute;
		bottom: 92px;
		max-width: 50%;
    width: 50%;
    max-width: 590px;
		h1 {
			max-width: 70%;
			color: #fff;
			font-size: 48px;
			font-weight: 700;
			line-height: 60px;
			margin-bottom: 35px;
		}
		p {
			color: #fff;
			font-size: 24px;
			line-height: 36px;
			font-weight: 400;
		}
	}
	.white_border {
    position: absolute;
    bottom: 138px;
    right: 185px;
	}
}

.main {
	vertical-align: top;
  display: inline-block;
  width: 800px;
  margin-top: 90px;
  margin-right: 30px;
  & > p {
    width: 79%;
    margin-bottom: 93px;
  }
  .img_row {
  	font-size: 0;
  	margin-bottom: 105px;
	  .two_in_row {
	  	display: inline-block;
	  	max-width: calc(52.6% - 44px);
	  }
	  .two_in_row:first-of-type {
	  	margin-right: 44px;
	  }
  }
  .review_wrap {
    max-width: 70%;
    margin-bottom: 50px;
    .client {
    	.who {
		    margin-left: 80px;
    	}
    }
  	.review {
	  	margin-bottom: 20px;
	  	p {
	  		width: 100%;
	  		margin-bottom: 20px;
	  	}
	  }
	}
}

aside {
	margin-top: -95px;
	vertical-align: top;
	display: inline-block;
	width: 380px;
	background: #fff;
	.info {
		padding: 60px;
		margin-bottom: 70px;
		li {
			color: #fff;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 27px;
		}
		li:last-of-type {
			margin-bottom: 0;
		}
	}
	.video_wrap {
		p {
			margin-bottom: 15px;
		}
	}
	.video {
		width: 100%;
		position: relative;
		img {
			width: 100%;
		}
		.banner_shadow:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 50px;
			height: 50px;
			background: url('../img/hover_icon.png') no-repeat;
			background-size: cover;
		}
		.banner_shadow:hover {
			background: rgba(0, 30, 41, 0.65);
		}
	}
}

.slick-list {
	width: 100%;
}

.slider {
	margin-bottom: 75px;
	img {
		width: 100%;
	}
}

@media (min-width: 320px) and (max-width: 959px) {

}

@media (min-width: 320px) and (max-width: 680px) {
	.content {
		margin-top: 49px;
	}
	.description {
    min-height: 400px;
		.text {
			width: 90%;
			position: relative;
			bottom: 0;
			max-width: 100%;
			margin-bottom: 40px;
			h1 {
				font-size: 24px;
				line-height: 32px;
			    font-weight: 700;
			    margin-bottom: 20px;
			    max-width: 100%;
			}
			p {
		    font-size: 16px;
		    font-weight: 400;
		    line-height: 24px;
			}
		}
		.btn {
			width: 100%;
			position: relative;
			right: 0;
			bottom: 0;
			margin-bottom: 40px;
		}
	}
	.main {
		margin-top: 80px;
		width: 100%;
		& > p {
			width: 100%;
			float: none;
			margin-bottom: 40px;
		}
		.review_wrap {
			float: none;
			max-width: 100%;
		}
		.img_row {
			margin-bottom: 20px;
			.two_in_row:first-of-type {
				margin-right: auto;
			}
			.two_in_row {
				width: 100%;
				max-width: 60%;
				display: block;
				margin: 0 auto 30px;
				margin-bottom: 20px;
			}
		}
	}
	aside {
		margin-top: 0;
		width: 100%;
	}
	.projects {
		display: none;
	}
	.request {
		height: auto;
		.request_form {
			padding: 55px 15px;
			width: 100%;
	    position: relative;
	    top: 0;
	    left: 0;
	    transform: none;
		}
		.img_holder, .right_part {
			display: none;
		}
	}
}

@media (min-width: 681px) and (max-width: 960px) {
	.content {
	  margin-top: 52px;
	}
	.description {
    min-height: 400px;
		.text {
			width: 90%;
			position: relative;
			bottom: 0;
			max-width: 100%;
			margin-bottom: 40px;
			h1 {
				font-size: 24px;
				line-height: 32px;
			    font-weight: 700;
			    margin-bottom: 20px;
			    max-width: 100%;
			}
			p {
		    font-size: 16px;
		    font-weight: 400;
		    line-height: 24px;
			}
		}
		.btn {
			max-width: 270px;
			position: relative;
			right: 0;
			bottom: 0;
			margin-bottom: 40px;
		}
	}
	.main {
		margin-top: 80px;
		width: 100%;
		& > p {
			width: 100%;
			float: none;
			margin-bottom: 40px;
		}
		.review_wrap {
			float: none;
			max-width: 100%;
		}
		.img_row {
			margin-bottom: 20px;
			.two_in_row:first-of-type {
				margin-right: 4%;
			}
			.two_in_row {
				display: inline-block;
				max-width: 46%;
			}
		}
	}
	aside {
		margin-top: 0;
		width: 100%;
	}
	.projects {
		display: none;
	}
	.request {
		height: auto;
		.request_form {
			padding: 55px 15px;
			width: 100%;
	    position: relative;
	    top: 0;
	    left: 0;
	    transform: none;
		}
		.img_holder, .right_part {
			display: none;
		}
	}
}

@media (min-width: 681px) and (max-width: 1300px) {
	.description {
		.text {
	    bottom: 40px;
			h1 {
		    max-width: 100%;
			}
		}
	}
	.main {
		width: 60%;
		margin-right: 4%;
		.img_row .two_in_row {
	    display: inline-block;
	    max-width: 45%;
		}
	}
	aside {
		width: 35%;
		margin-top: -50px;
	}
	.request .right_part .text {
    width: 273px;
    margin-left: -80px;
	}
}