<footer>
	<div class="container">
		<div class="column copy">
			<div class="logo">
				<img src="img/logo.png" alt="logo">
				<a href="/" class="stretched"></a>
			</div>
			<div class="copy">
				<p>© Dream home</p>
				<p>Все права защищены</p>
				<p>2016 - 2017</p>
			</div>
		</div>
		<!-- end of column -->
		<div class="column">
			<h5>Меню</h5>
			<ul>
				<li><a href="">Стили</a></li>
				<li><a href="">Проекты</a></li>
				<li><a href="">О компании</a></li>
				<li><a href="">Контакты</a></li>
				<li><a href="">Вопросы и ответы</a></li>
			</ul>
		</div>
		<!-- end of column -->
		<div class="column">
			<h5>Стили</h5>
			<ul>
				<li><a href="">Нью-Йорк лофт</a></li>
				<li><a href="">Минимализм</a></li>
				<li><a href="">Скандинавский стиль</a></li>
				<li><a href="">Стиль Хай-Тек</a></li>
				<li><a href="">Современная клссика</a></li>
				<li><a href="">Арт Декo</a></li>
				<li><a href="">Лофт</a></li>
				<li><a href="">Прованс</a></li>
				<li><a href="">Сельская местность</a></li>
				<li><a href="">Современный</a></li>
			</ul>
		</div>
		<!-- end of column -->
		<div class="column contacts">
			<h5>Контакты</h5>
			<ul>
				<li><a href="mailto:info@dreamhome.design">E-mail: info@dreamhome.design</a></li>
				<li><a href="tel:+7 (495) 134-134-4">Телефон: +7 (495) 134-134-4</a></li>
				<li>Адрес: ул. Ленинская Слобода. д. 26Б.ц "Омега-2", корпус А, офис 425 5 минут от м. Автозаводская стиль</li>
			</ul>

			 <div class="social">
			 	<div class="facebook"><a href="" class="stretched"></a></div>
			 	<div class="instagram"><a href="" class="stretched"></a></div>
			 </div>
		</div>
		<!-- end of column -->
	</div>
</footer>








