  <header class="slide mobile_header">
  	<div class="container">
  		<ul id="navToggle" class="burger slide js_burger">
  		  <li></li><li></li><li></li>
  		</ul>
  		<div class="logo white">
  		    <img src="img/logo.png" class="default_logo" alt="logo">
        	<img src="img/logo_white.png" class="logo_white" alt="logo_white">
  		</div>
  		<div class="phone_holder">
        <a href="tel:+8 (495)-248-19-03" class="callibri-land">+8 (495)-248-19-03</a>
  		</div>
  	</div>
  </header>

<header class="desktop_header">
	<div class="container">
		<div class="logo">
		  <img src="img/logo.png" class="default_logo" alt="logo">
		  <img src="img/logo_empty.png" class="empty_logo" alt="logo">
      	  <img src="img/logo_white.png" class="logo_white" alt="logo_white">
		  <a href="/" class="stretched"></a>
		</div>
		<div class="phone_holder">
			<a href="tel:+7 (495) 134-134-4">+7 (495) 134-134-4</a>
			<a href="" class="call_req js_call_req">Заказать звонок</a>
		</div>
		<nav class="slide">
		  <ul class="clearfix">
		    <li><a href="#" class="active">Стили</a></li>
		    <li><a href="#">Проекты</a></li>
		    <li><a href="#">О компании</a></li>
		    <li class="default_show"><a href="#">Блог</a></li>
		    <li class="stuck_show_li"><a href="#">Контакты</a></li>
		    <li><a href="#">Вопросы и ответы</a></li>
		  </ul>
	      <a href="" class="btn btn_border_gradient stuck_show_btn">Конструктор стилей</a>
		</nav>
	</div>
	<!-- end of container -->
</header>



