<section class="projects">
  <div class="container">
    <h2>Проекты в стиле минимализм</h2>
    <div class="wrap">
      <div class="item">
        <img src="img/style_item_1.png" alt="style_item_3">
        <div class="title">
          Квартира  в стиле Нью-Йорк Лофт на Космонавтов в Москве
        </div>
        <div class="banner_shadow"></div>
        <a href="javascript:void(0);" class="stretched"></a>
      </div>
      <!-- end of item -->
      <div class="item">
        <img src="img/style_item_2.png" alt="style_item_3">
        <div class="title">
          Квартира в стиле Минимализм на Академика Янгеля в Москве
        </div>
        <div class="banner_shadow"></div>
        <a href="javascript:void(0);" class="stretched"></a>
      </div>
      <!-- end of item -->
      <div class="item">
        <img src="img/style_item_3.png" alt="style_item_3">
        <div class="title">
          Дом в Скандинавском стиле на Пушкинской в Москве
        </div>
        <div class="banner_shadow"></div>
        <a href="javascript:void(0);" class="stretched"></a>
      </div>
      <!-- end of item -->
      <div class="item">
        <img src="img/style_item_3.png" alt="style_item_3">
        <div class="title">
          Квартира  в стиле Нью-Йорк Лофт на Космонавтов в Москве
        </div>
        <div class="banner_shadow"></div>
        <a href="javascript:void(0);" class="stretched"></a>
      </div>
      <!-- end of item -->
    </div>
  </div>
</section>
<!-- end of projects -->