<section class="request">
  <div class="img_holder" style="background: url('img/request_banner.png');"></div>
  <div class="request_form">
    <h3>Отправить заявку на выезд сметчика</h3>
    <p>Для выезда сметчика оставьте заявку, наш менеджер свяжется с вами для уточнения деталей.</p>

    <form action="" class="material">
      <input type="email" name="name1" placeholder="Ваше имя" required>
      <input type="text" name="phone1" placeholder="Номер телефона" required>
      <input type="submit" value="Отправить" class="btn btn-submit">
    </form>
  </div>
  <!-- end of request_form -->
  <div class="right_part">
    <div class="text">
      <p>Если у вас все еще остались вопросы смотрите раздел часто задаваемых вопросов.</p>

      <a href="javascript:void(0);" class="btn">Перейти в раздел</a>
    </div>
  </div>
  <!-- end of right_part -->
</section>
<!-- end of request -->